<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/books}">Books</a></li>
                        <li><a href="#" th:href="@{/book/new}" sec:authorize="hasAuthority('ADMIN')">Add Book</a></li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Sign Out</a></li>
                        <li th:if="${#authorization.expression('!isAuthenticated()')}"><a th:href="@{/login}">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-9">
                    <div class="jumbotron">
                        <div class="row text-center">
                            <div class="">
                                <h2>Waitomo District Council Library Project</h2>

                                <h3>Spring Boot Web App</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="welcome">
                        <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
                        <p class="jumbotron">This is the user container</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>