<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="container">
    <div th:fragment="login">
        <div th:if="${param.error}">
            <label style="color:red">Invalid username and password.</label>
        </div>
        <div th:if="${param.logout}">
            <label>
                You have been logged out.
            </label>
        </div>
            <form th:action="@{/login}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="text" name="username" class="input-block-level" placeholder="Username"/>
                <input type="password" name="password" class="input-block-level" placeholder="Password"/>

                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            </form>
    </div>
</div>

</body>
</html>