<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="container">
    <div th:fragment="login">
        <div th:if="${param.error}">
            <label style="color:red">Invalid username and password.</label>
        </div>
        <div th:if="${param.logout}">
            <label>
                You have been logged out.
            </label>
        </div>
        <form th:action="@{/login}" method="post">

            <table class="table table-striped">
                <tr>
                    <td><label> User Name : <input type="text" name="username"/> </label></td>
                </tr>
                <tr>
                    <td><label> Password : <input type="password" name="password"/> </label></td>
                </tr>
                <tr>
                    <td> <button type="submit" class="btn btn-primary">Sign In</button></td>
                </tr>
            </table>

        </form>
    </div>
</div>

</body>
</html>