<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
</head>
<body>
<div class="container">

    <!-- page fragments goes here -->
    <div th:fragment="users" id="content">
        <div class="search-container">
            <form action="/" th:object="${search}" th:action="@{/searchusers}" method="post">
                <fieldset>
                    <label for="searchType" class="col-lg-2 control-label">Search By: </label>
                    <select id="searchType" th:field="*{searchUser}">
                        <option th:each="searchFor : ${search.getSearchUserList()}"
                                th:value="${{searchFor}}"
                                th:text="${searchFor}">Wireframe</option>
                    </select>

                    <input type="text" placeholder="Search Titles.." th:field="*{searchterm}"/>

                    <button type="submit"><i class="fa fa-search"></i></button>
                </fieldset>
            </form>
        </div>
        <div th:replace="fragments/search :: ${not #lists.isEmpty(searchedusers)} ? 'usersearch' : 'userlist'">
            The search List
        </div>

    </div>

    <div th:fragment="usershow">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10"><h2>User Details</h2></div>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getUsername()}">Username</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getFirstName()}">First Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getLastName()}">Last Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getStreetAddress()}">Address</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Town:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getTown()}">Town</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getContactPhoneNumber()}">Phone</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Current Balance:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${userID.getCurrentBalance()}">Balance</p>
                    <a th:if="${userID.getCurrentBalance()} > 0" class="btn btn-large btn-danger"
                            th:href="@{'/paid/'+${userID.id}}">PAID</a>
                </div>
            </div>
        </form>
    </div>

    <div th:fragment="edituser">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10"> <h2>User Update</h2></div>
            </div>
        </form>

        <div id="edit-content">
            <form class="form-horizontal" th:object="${userID}" th:action="@{/userID}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <input type="hidden" th:field="*{currentBalance}" />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-10">
                        <input th:required="true" type="text" class="form-control" th:field="*{username}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input th:required="true" type="password" class="form-control" th:field="*{password}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{firstName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{lastName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Street Address:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{streetAddress}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Town:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{town}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone Number:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{contactPhoneNumber}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div th:fragment="signup">
        <form id="signup" class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}" th:fragment="signupForm">
            <!--/* Show general error message when form contains errors */-->
            <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
            </th:block>
            <fieldset>
                <legend>Add new User</legend>
                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" />
                        <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
                    <label for="firstName" class="col-lg-2 control-label">First Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect First Name</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                    <label for="lastName" class="col-lg-2 control-label">Last Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect Last Name</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('streetAddress')}? 'has-error'">
                    <label for="streetAddress" class="col-lg-2 control-label">Street Address</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="streetAddress" placeholder="1 Main Street" th:field="*{streetAddress}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('streetAddress')}" th:errors="*{streetAddress}">Incorrect Street Address</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('town')}? 'has-error'">
                    <label for="town" class="col-lg-2 control-label">Town</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="town" placeholder="Te Kuiti" th:field="*{town}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('town')}" th:errors="*{password}">Incorrect Town</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('contactPhoneNumber')}? 'has-error'">
                    <label for="contactPhoneNumber" class="col-lg-2 control-label">Contact Ph:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="contactPhoneNumber" placeholder="07-8787878" th:field="*{contactPhoneNumber}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('contactPhoneNumber')}" th:errors="*{contactPhoneNumber}">Incorrect Phone Number</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Add new User</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

</div>
</body>
</html>