<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
    <div class="container-fluid" th:fragment="userdetails">
        <div class="panel-body">
            <div sec:authorize="isAuthenticated()">
                <p><span class="bold">Name: <span th:text="${user.firstName}"> </span> <span th:text="${user.lastName}"></span></span></p>
                <p><span class="bold">Phone: <span th:text="${user.contactPhoneNumber}"></span></span></p>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <p> You are currently not logged in.</p>
                <p>If you are not current member please visit the Waitomo District Library.</p>
                <p>Bring two forms of Id, and proof of residency in the Waitomo District</p>
            </div>
        </div>
    </div>
</body>
</html>