input[type=submit] {
    background:none!important;
    border:none;
    padding:0!important;
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}

.panel-body {
    width: 100%;
}
.panel-body p {
    width: 100%;
    word-wrap: break-word;
}

#footer {
    text-align:center;
    position:fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    bottom:0;
    z-index:999999;
}

#header {
    position:fixed;
    z-index:99999;
    clear:both;
}

#content {
    padding:15px 0;
}