input[type=submit] {
    background:none!important;
    border:none;
    padding:0!important;
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}

.panel-body {
    width: 100%;
}
.panel-body p {
    width: 200px;
    word-wrap: break-word;
}

