<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Waitomo District Library</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container-fluid">
        <div class="col-xs-9">
            <div class="panel panel-primary">
                <div class="panel-heading">Search The Library</div>
                <div class="panel-body">
                    <div th:replace="fragments/search :: search">The Search Fragment</div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
                </div>
                <div class="panel-body">
                    <p>This is the user container</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>
</html>