<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Waitomo District Library</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
                    </div>
                    <div class="panel-body" th:replace="fragments/userdetails :: userdetails">
                        <span>Login Status</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-pull-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Search The Library</div>
                    <div class="panel-body">
                        <div class="search-container">
                            <form action="/" th:object="${search}" th:action="@{/search}" method="post">
                                <fieldset>
                                    <label for="searchType" class="col-lg-2 control-label">Search By: </label>
                                    <select id="searchType" th:field="*{searchBy}">
                                        <option th:each="searchFor : ${search.getSearchByList()}"
                                                th:value="${{searchFor}}"
                                                th:text="${searchFor}">Wireframe</option>
                                    </select>

                                    <input type="text" placeholder="Search Titles.." th:field="*{searchterm}"/>

                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </fieldset>
                            </form>
                        </div>
                        <div th:replace="fragments/search :: ${not #lists.isEmpty(searcheditems)} ? 'search' : 'list'">
                            The search List
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">System Information</div>
                    <div class="panel-body">
                        <span th:text="${message}">The Library System information goes here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>
</body>
</html>