<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="panel panel-warning">
                <div class="panel-heading">System Information</div>
                <div class="panel-body">
                    <span th:text="${message}">You did not log in correctly</span>
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <div th:replace="fragments/footer :: footer">The Footer</div>
</footer>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>