<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Waitomo District Library</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
                    </div>
                    <div class="panel-body" th:replace="fragments/userdetails :: userdetails">
                        <span>Login Status</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-sm-pull-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">List of Reservations</div>
                    <div class="panel-body">
                        <div class="item-container">

                            <div th:replace="fragments/reserves :: reserves">
                                The Reserves
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">System Information</div>
                    <div class="panel-body">
                        <span th:text="${message}">The Library System information goes here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>
<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->
</body>
</html>