<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="${appName}">App Name</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class = "itemlist" id="content">
        <div th:if="${not #lists.isEmpty(reserves)}">
            <form th:action="@{/logout}" method="post">
                <div class="col-sm-10"><h2>List of Items</h2></div>
                <div class="col-sm-2" style="padding-top: 30px;">
                     <span sec:authorize="isAuthenticated()">
                    <input type="submit" value="Sign Out"/>
                               </span>
                </div>
            </form>
            <table class="table table-striped">
                <tr>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Author(s)</th>
                    <th sec:authorize="hasAnyAuthority('USER','ADMIN')">Unreserve</th>

                </tr>
                <tr th:each="reserve : ${reserves}">
                    <td th:text="${reserve.getRequestUsername()}"><a href="/user/${user.getUserId()}">Username</a></td>
                    <td th:text="${reserve.getRequestItemTitle()}">Title</td>
                    <td th:text="${reserve.getRequestItemCreator()}">Author(s)</td>
                    <td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a th:href="${'/unreserve/' + reserve.id}">Unreserve</a></td>
                </tr>
            </table>

        </div>
    </div>

</div>
<footer>
    <div th:replace="fragments/footer :: footer">The Footer</div>
</footer>
</body>

</html>